<div class="main-content">
  <div class="container-fluid">
    <div class="card-body text-center" Style="background-image:url('../../assets/Cm.jpg'); background-repeat: no-repeat;
    background-position: center;  background-size: cover; height: 40rem;">
      <button class="btnInicio" #btnIniciar (click)="MostrarConfiguracion()">Iniciar Juego</button>


      <div class="card" style="width:80rem;height:12rem;">
        <div class="card-body">
          <br>
          <br>
          <div style="text-align:center; padding:02px;">
            <h6><span class="neon">Busca</span><span class="flux" style="color: brown;">minas</span></h6>
          </div>
          <div class="contenido" #contenido></div>
          
        </div>
      </div>


      <div class="configuracion" #configuracion style="visibility:hidden">
        <hr>
        <form class="form-wrapper">

          <label for="txtNombre" style="color:rgb(34, 32, 32)">INGRESA TU NOMBRE DE JUGADOR</label>
          <input [(ngModel)]="namePlayer" type="text" placeholder="Introduce tu nombre" name="txtNombre"
            id="txtNombre" />
        </form>
        <br>
        <button (click)="StartGameEvent(0)" class="btn btn-primary">FACIL</button>&nbsp;&nbsp;
        <button (click)="StartGameEvent(1)" class="btn btn-warning">NORMAL</button>&nbsp;&nbsp;
        <button (click)="StartGameEvent(2)" class="btn btn-success">DIFICIL</button>&nbsp;&nbsp;
        <button style="margin:10px" class="btn btn-danger" routerLink="/inicio">Cancelar</button>
      </div>

      <div #botonera class="botonera" style="visibility:hidden">
        <h4 style="float: left; margin-left: 20px">Jugador: <b>{{ namePlayer }}</b></h4>
        <h4 id="puntuacion" style="display: inline-block;">Puntuación: <b>{{ scorePlayer }}</b></h4>
        <h4 style="float: right; margin-right: 20px">Tiempo: <b>{{ timePlayer }}</b></h4>

      </div>
    </div>
  </div>
</div>
