<div class="main-content" >
  <div class="container-fluid">
    <div class="card-body text-center" Style="background-image:url('../../assets/informacion.jpg'); background-repeat: no-repeat;
    background-position: center;  background-size: cover; height: 40rem;">
<br>
<br><br>
      
      <h1 class="card-title" ><strong>Juego de  Minas </strong></h1>
      <p class="card-text"><strong>!!Inicia y diviertete jugando.!!</strong></p>
      <button class="btnInicio" #btnIniciar routerLink="/minas">Iniciar Juego</button>

    </div>
  </div>
</div>
